extends layouts/default

block content
  .jumbotron
    p.lead Let's Web Site Renewal!!
  .row
    .col
      h3 About frangelico
      p
      | 1988年に銀座の老舗バー（いそむら）で辛くも楽しくも修行し、1999年にノストラダムスの大予言がはずれたので、同11月、師匠の磯村信元スタイルで７丁目にカウンター10席の小さな店（フランジェリコ）を独立オープン。
      br
      | その後、2007年に今の場所に移転。新鋭のスタッフも加わり、店も広くなりました。
  .row
    .col
      h3 Frangelico　フランジェリコ
      address
        | 〒104-0061
        br
        | 東京都中央区銀座8-7-11
        br
        | ソワレド銀座第2弥生ビルB1
        br
        |[TEL]:03-3571-7371
      p
        | 営業時間
        br
        | 月曜～金曜:18:00～2:00
        br
        | 土曜:18:00～23:00
        br
        | 休み:日曜・祝日
