.header
  h1 frangelico
  ul.nav.nav-pills.float-right
    li.nav-item
      a.nav-link.active(href='#') Home
    li
      a.nav-link(href='#') Menu
    li
      a.nav-link(href='#') Access
    li
      a.nav-link(href='#') Photo Gallery
    li
      a.nav-link(href='#') Blog
