.header
  ul.nav.nav-pills.float-right
    li.nav-item
      a.nav-link.active(href='#') Home
    li
      a.nav-link(href='#') About
    li
      a.nav-link(href='#') Contact
    h3.text-muted frangelico
